body {
  width: 100%;
}

#container {
  margin: auto;
  margin-top: 2em;
  max-width: 11in;
}

#inner_container {
    margin:2em;
}

h1,
h2 {
  font-family: "Marcellus SC", serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

li {
    margin-left: 2em;
}

b {
    font-family: "Marcellus SC", serif;
}

#nav {
    display:flex;
    align-items: baseline;
}

h1 {
    margin-right: auto;
}

#nav .spacer {
    margin:1em;
}

@media print {
  #container {
    margin: 0;
  }
  #inner_container {
    margin:0;
  }
  #nav {
    display: none;
  }
  #print_heading {
    display:block !important;
  }
}
