body {
  width: 100%;
}

#container {
  margin: auto;
  margin-top: 2em;
  width: 11in;
}

h1,
h2 {
  font-family: "Marcellus SC", serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@media print {
  #container {
    margin: 0;
  }
  #nav {
    display: none;
  }
}
